{
  "presets": [
    "es2015",

    "stage-2"
   
  ],
  "plugins": [
    "syntax-async-functions",
    "syntax-dynamic-import",
    "transform-async-to-generator",
    "transform-regenerator",
    "transform-runtime"
  ]
}